[Unit]
Description=Check for MomentSS updates every minute

[Timer]
OnBootSec=1min
OnUnitInactiveSec=1min
AccuracySec=10s
RandomizedDelaySec=5s
Unit=momentss-update.service

[Install]
WantedBy=timers.target
